.chess-board {
    margin-top: 5px;
}

.box {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: inline-block;
    margin: -2px -1px;
  }
  
  .black {
    background-color: black;
  }

  .red {
    background-color: red;
  }